/*
 * Footer
 */
 .light footer {
    background: #EEEEEE;
    .copy {
      color: #222;
  }
  }
  footer {
    background: linear-gradient(120deg, #202334, #1c1f2f);
    padding: 50px 0;
    width: 100%;
    .copy {
      text-align: center;
      text-transform: uppercase;
      display: block;
      margin: 0 auto;
      color: #f1f1f1;
      a {
        text-decoration: none;
      }
    }
  }